# Make a new file named .env based on this template


# Get this URL from Outlook or whatever, if it's from Outlook, it usually ends with reachcalendar.ics ...
ICAL_URL="..."

# The path which the web server will respond to.
SERVER_PATH="/ical"

# The address on which the HTTP server will listen
SERVER_LISTEN_ADDRESS="0.0.0.0:80"
